html,
body {
	background-color: #f5f5f5;
}

.hike-card {
	cursor: pointer;
}

.hike-card:hover,
.hike-card:active,
.hike-card:focus {
	border-color: darkgray;
	box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.1);
	-webkit-box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 5px 4px 5px 0px rgba(0, 0, 0, 0.1);
}
